<h1>Your Shopping Cart</h1>

<% if @cart_items.empty? %>
  <p>Your cart is empty</p>
  <%= link_to "Browse Crates", root_path %>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Crate</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each_with_index do |item, index| %>
        <tr>
          <td>
            <div>
              <%= item[:crate_type].name %>
              <div><%= item[:crate_type].description %></div>
            </div>
          </td>
          <td>
            <%= form_tag update_quantity_cart_path, method: :patch do %>
              <%= hidden_field_tag :index, index %>
              <%= number_field_tag :quantity, item[:quantity], min: 1 %>
              <%= submit_tag "Update" %>
            <% end %>
          </td>
          <td><%= number_to_currency(item[:crate_type].price) %></td>
          <td><%= number_to_currency(item[:total]) %></td>
          <td>
            <%= button_to "Remove", remove_cart_path(index: index), 
                method: :delete,
                data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total:</td>
        <td colspan="2"><%= number_to_currency(@cart_total) %></td>
      </tr>
    </tfoot>
  </table>

  <div class="actions">
    <%= link_to "Continue Shopping", root_path %>
    <%= link_to "Proceed to Checkout", checkout_path %>
  </div>
<% end %>